$green: rgb(20, 43, 19);

.AAA_login {
  margin-top: 2rem;
}

.cardInfo,
.cardLogin {
  width: 25rem;
  height: 30rem;
  padding-top: 2rem;
}

.cardInfo {
  margin-left: 6rem;
  margin-right: 6rem;
}

.cardInfo__body,
.cardLogin__body {
  box-shadow: 1rem 1rem 1rem rgb(54, 88, 2);
  height: 24rem;
}

.cardInfo__title,
.cardLogin__title {
  size: 20rem;
  text-align: center;
  color: black;
  font-weight: bold;
}

.cardLogin__reg,
.cardLogin__login {
  color: $green;
  background-color: yellowgreen;
  border-radius: 0.2rem;
  padding: 0.5rem;
  border: 1.8px solid rgba(0, 0, 0, 0.137);
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  font-weight: normal;
  font-size: 1.2rem;

  &:hover {
    background-color: darken(rgb(175, 175, 175), 20%);
  }
}

.cardLogin__login {
  margin-left: 6.2rem;
  margin-right: 6.2rem;
  margin-top: 0.5rem;
}
.cardLogin__reg {
  margin-left: 18%;
  margin-right: 18%;
  width: 50%;
}

.trennlinie {
  border-top: 2px solid gray;
}

.login,
.cardInfo__text {
  margin-top: 1.5rem;
  color: black;
  font-size: large;
  font-weight: normal;
}

.App-login {
  display: grid;
  grid-template-columns: auto;

  .email_label {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    font-weight: normal;
  }
  .email_input {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    text-align: center;
  }

  .password_label {
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    font-weight: normal;
  }
  .password_input {
    grid-column: 1;
    grid-row: 4;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
}
