$green: rgb(20, 43, 19);

.navbar {
  background-color: darken($green, 5%);
  line-height: 2rem;
}

.App-header {
  margin-bottom: rem;
}

.nav1,
.nav2 {
  color: yellowgreen;

  &:hover {
    filter: brightness(150%);
  }
}
