$white: white;
$green: rgb(20, 43, 19);
.AAA {
  background-color: $green;
  min-height: 42.3rem;
  margin-top: -1rem;
}
.timer {
  color: $white;
  font-weight: normal;
}

.reset {
  background-color: black;
  color: white;
  height: 2rem;
  position: fixed;
  top: 0;
  left: 0;
}
.questions {
  background-color: $white;
  width: 100%;
  margin: auto;
  padding: 2rem;
  border: 2px solid rgba(189, 43, 43, 0.137);
  color: black;

  .question {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    text-align: center;
    color: black;
  }

  .options-container {
    display: inline-block;
    margin-left: 25%;
    width: 50%;
    margin-right: 25%;
    padding-bottom: 1rem;
  }

  .option {
    background-color: rgba(39, 42, 44, 0.199);
    border-radius: 15px;
    color: black;
    cursor: pointer;
    margin: 1rem;
    padding: 1rem;
    transition: 0.3s linear all;
    text-align: center;
    width: 95%;
    overflow: hidden;
    font-size: 85%;
  }
  .option:hover {
    background-color: darken(rgba(39, 42, 44, 0.199), 20%);
  }

  .button-container {
    .previous,
    .next,
    .quit {
      width: 10%;
      padding: 15px;
      box-sizing: border-box;
      border-radius: 100px;
      background: #dfdfdf;
      overflow: hidden;
      font-size: 75%;
    }
  }
}

.spinner {
  margin-left: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 2;
  height: 2;
}
