@import "../components/Gameboard/gameboard.scss";
@import "../components/Benutzerformular/Login/login.scss";
@import "../components/Benutzerformular/Logout/logout.scss";
@import "../components/Verlauf/verlauf.scss";
@import "../components/Home/home.scss";
@import "../components/Gameboard/FragenNeu/Ergebnis/ergebnis.scss";
@import "../components/Navigation/Navigation.scss";
@import "../components/Benutzerformular/Registrierung/reg.scss";
$green: rgb(20, 43, 19);

body {
  background-image: url(../img/bild1.jpg);
  background-size: cover;
}

.App-header {
  height: 10rem;
  width: 100%;
  margin-top: -1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: $green;
  color: greenyellow;
  h1,
  h2 {
    text-align: center;
  }
}

.App-navi {
  width: 100%;
  background-color: rgb(0, 0, 0);
  font-size: 20px;
}

.App-body {
  margin-top: 0rem;
  width: 60rem;
  border-right: 2px solid rgba(0, 0, 0, 0.137);
  border-left: 2px solid rgba(0, 0, 0, 0.137);
  padding: 1rem;
  background-color: $green;
}
