.AAA_ergebnis {
  background-color: $green;
  height: 41.3rem;
  color: $green;
  font-size: medium;
  font-weight: normal;
  font-size: 1.2rem;
  padding-top: 3rem;
  vertical-align: middle;
}

.richtig,
.falsch,
.fragenAnzahl,
.zeit {
  width: 45%;
  text-align: center;
  margin: 0.5rem;
  padding: 0.8rem;
  border-radius: 100px;
  border: 1px solid greenyellow;
  color: greenyellow;

  margin-left: auto;
  margin-right: auto;
  background: $green;
  vertical-align: middle;

  span {
    font-weight: bold;
  }
}

.backButton {
  text-align: left;
  margin-top: 4rem;
}
.goBackToHome {
  background-color: yellowgreen;
  color: $green;
  line-height: 40px;
  font-weight: bold;
  font-size: 1.3rem;
}
