$green: rgb(20, 43, 19);
.AAA_home {
  background-color: $green;
  color: white;
  min-height: 42.3rem;
  margin-top: -1rem;
}

.Thema,
.Schwierigkeit {
  border: 3px solid rgba(9, 58, 21, 0.137);
  max-width: 65%;
  margin: 2rem auto;
  padding: 1rem;
  overflow: hidden;
  color: white;
  font-size: 1rem;

  p,
  input {
    font-size: large;
  }
}

.StartQuiz {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  background-color: yellowgreen;
  color: $green;
  line-height: 40px;
  font-weight: bold;
  font-size: 1.3rem;
}

.ButtonInstruction {
  width: 36%;
  margin-left: 32%;
  margin-right: 32%;
  margin-bottom: 1rem;
}

.logout {
  margin-left: 92%;
  margin-top: 1rem;
}
